@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: Baskervville;
  src: url('https://fonts.googleapis.com/css?family=Baskervville&display=swap');
}

.navbar {
  @apply w-full h-20 fixed bg-white shadow-xl;
}

.font-baskervville {
  font-family: 'Baskervville';
}

.auth-input {
  @apply shadow rounded border border-pink-500 w-full py-2 px-3 text-gray-700 leading-tight;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

footer {
  @apply h-32 w-full bg-pink-600 absolute bottom-0;
}

.simulator-card {
  @apply flex flex-wrap bg-white border rounded-lg shadow-xl;
}
